*{
    margin: 0;
    padding: 0;
    font-family: "attila";             /* install font first then use it */
    box-sizing: border-box;
    color: #d1d1d1;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: red;
}

h1{
    font-size: 80px;
    color: #fff;
    font-family: gilroy;
}

#page1{
    height: 100vh;
    width: 100vw;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2{
    height: 100vh;
    width: 100vw;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page3{
    height: 100vh;
    width: 100vw;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}