*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: red;
}

    #left{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        clip-path: polygon(0% 0, 60% 0, 40% 100%, 0% 100%);                     /* create any shape you want by this */
        background-color: red;
        background-image: url(https://plus.unsplash.com/premium_photo-1680345330708-b9c0898bccf8?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-size: cover;
        background-position: center;
    } 

#right{
    position: absolute;
    right: 0;
    top: 5;
    left: 0%;
    width: 100%;
    height: 100%;
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
    background-image: url(https://images.unsplash.com/photo-1490370946242-34092dbf29f8?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 40 cap;
    background-color: rgb(0, 0, 255);
}

/* Reverseimage.com - photo ka ss paste krdo yha ye same photo search krega search engines pe */