*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
}

#cards{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    min-height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cards .card{
    padding: 20px;
    width: 300px;
    height: 400px;
    background-color: rgba(255, 0, 111, 0.632);
}

@media(max-width:1000px){
    #cards{
        flex-direction: column;
    }
}