*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: red;
}

#left{
    position: relative;
    color: white;
    width: 35%;
    height: 100%;
    background-color: rosybrown;
}

#left #text{
    position: absolute;
    width: 90%;
    top: 20%;
    left: 10%;
}

#text h1{
    font-size: 50px;
    line-height: 1;
}

#text h1 span{
    font-weight: 300;
}

#text h2{
    font-size: 30px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 30px;
}

#text p{
    font-size: 14px;
    width: 80%;
    line-height: 1.8;
    margin-bottom: 20px;
}

#text button{
    padding: 8px 22px;
    background-color: white;
    border: none;
    color: rgb(200, 70, 70);
    font-weight: 500;
    border-radius: 4px;
}

#left #btm{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    background-color: white;
    padding: 20px;
    color: black;
}

#btm h3{
    color: rgb(200, 70, 70);
    font-size: 20px;
}

#btm p{
    font-size: 12px;
    width: 80%;
    margin-top: 5px;
    opacity: .7;
}

#right{
    width: 65%;
    height: 100%;
    background-color: white;
}

#right>img{
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translate(-50%, -50%) rotate(-30deg);
}

#right #center{
    position: absolute;
    top: 20%;
    left: 25%;
    width: 60%;
}

#center h1{
    font-size: 60px;
    color: rgb(230, 91, 91);
}

#center h1 span{
    color: black;
    font-weight: 300;
}

#center h2{
    font-weight: 400;
    margin-bottom: 20px;
}

#center h2 span{
    font-weight: 700;
}

#center p{
    font-size: 14px;
    width: 80%;
    line-height: 1.8;
    margin-bottom: 30px;
}

#center #btns{
    display: flex;
    gap: 20px;
}

#center button{
    padding: 14px 22px;
}

#center button:nth-child(1){
    background-color: transparent;
    border: 1px solid rgb(139, 26, 26);
    color: rgb(139, 26, 26);
    font-weight: 600;
    border-radius: 10px;
}

#center button:nth-child(2){
    background-color: rgb(200, 70, 70);
    color: white;
    border: none;
    border-radius: 100px;
    font-weight: 600;
}

#sampletext{
    margin-top: 30px;
}

#samples{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.sample{
    width: 100px;
    overflow: hidden;
    border-radius: 10px;
}

.sample img{
    width: 100%;
}