*{
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    width: 360px;
    height: 580px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

#full-scr{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: red;
    display: none;
    background-size: cover;
    background-position: center;
}

#progress{
    height: 5px;
    width: 100%;
    background-color: rgba(62, 62, 62, 0.435);
}

#growth{
    height: 100%;
    width: 50%;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.839);
}

#storiyan{
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #dadada;
    white-space: nowrap;                      /* agar element first row me aa nhi paya to dusri me jayga pr ye isko jane nhi dega usme wrap kr dega */
    overflow-x: auto;                          /* x-axis me scroll bar aa jayga jo show nhi ho rha tha ab hoga */
    overflow-y: hidden;
    padding: 10px;
}

#storiyan::-webkit-scrollbar{
    display: none;                            /* jo scrollbar h ab wo show nhi hoga hidden ho gya */ 
}

.story{
    display: inline-block;                    /* element ka jitna size h sirf utna size lega phir next row me aa jayga */
    height: 80px;
    width: 80px;
    background-color: burlywood;
    border-radius: 50%;
    margin: 0 7px;
    border: 3px solid red;
    overflow: hidden;
}

.story img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}