*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    display: flex;
    width: 100%;
    height: 100%;
}

#left{
    position: relative;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

#right{
    position: relative;
    height: 100%;
    width: 50%;
}

#left h1{
    position: absolute;
    left: 80%;
}

#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: relative;
    z-index: 999;
    color: #fff;
    animation-name: mc;
    opacity: 0;
    animation-direction: normal;
    animation-delay: 1.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#nav h1{
    font-family: ogg;
    text-transform: uppercase;
    font-size: 20px;
}

#nav i{
    font-size: 20px;
}

#left img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 99;
    animation-name: roti;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#left>h1{
    position: absolute;
    right: 3%;
    bottom: 3%;
    color: #fff;
    z-index: 99;
    font-size: 80px;
    text-align: right;
    line-height: 78px;
    animation-name: bc;
    animation-delay: 1.5s;
    opacity: 0;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: forwards;
}

#img1{
    position: absolute;
    height: 160px;
    width: 160px;
    left: 40%;
    object-fit: cover;
    transform: translate(-50%, 0);
    animation-name: move;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#img2{
    position: absolute;
    height: 290px;
    width: 220px;
    top: 40%;
    left: 6%;
    object-fit: cover;
    transform: translate(0, -50%);
}

#img3{
    position: absolute;
    height: 150px;
    width: 160px;
    bottom: 0;
    left: 50%;
    object-fit: cover;
    transform: translate(-50%, 0);
}

#right>h1{
    font-size: 50px;
    position: absolute;
    font-family: voyage;
    rotate: -90deg;
    right: -14%;
    top: 24%;
}

#overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;                          /* first priority deta h */
    background-color: rgb(219, 63, 63);
    animation-name: move;
    animation-duration: 1s;               /* kitne time tk chlegi */
    animation-fill-mode: forwards;        /* animation khtam hote hi rukegi */
}

@keyframes move{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes roti{
    0%{
        transform: rotate(30deg) scale(1.4);   /* size se kitna bda */
        opacity: 0;
    }
    100%{
        transform: rotate(0) scale(1);
        opacity: 1;
    }
}

@keyframes bc{
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes mc{
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}