@font-face{                          /* if any font style doesn't work then use can use @font-face */
    font-family: attila;
    src: url(./attila.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: "attila";             /* install font first then use it */
    box-sizing: border-box;
    color: #d1d1d1;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: red;
}

body{
    background-color: #222;
    overflow-x: hidden;
}

#main{
    position: relative;
    background-color: #222;
    /* height: 100%; */
    width: 100%;
}

#full-scr-nav{
    height: 100vh;
    width: 100vw;
    background-color: bisque;
    position: absolute;
    top: -100vh;
    transition: all ease 0.9s;
    padding: 200px 150px;
    color: #222;
    z-index: 99;
}

#full-scr-nav h1{
    font-size: 240px;
    color: #222;
}

#nav{
    position: absolute;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    z-index: 99;
}

#nav-prt2{
    display: flex;
    align-items: center;
    transition: all ease 0.9s;
}

#nav-prt2 i{
    font-size: 30px;
    margin-left: 50px;
    cursor: pointer;
    transition: all ease 0.9s;
}

#nav h2{
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 1px;
    transition: all ease 0.9s;
}

#nav h3{
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 1px;
}

#page1{
    min-height: 85vh;
    width: 100vw;
    position: relative;
}

#page1 h1{
    position: absolute;
    left: 5.5%;
    letter-spacing: 15px;
    top: 21%;
    font-size: 13vw;
}

#page1 h2{
    position: absolute;
    left: 18%;
    width: 30%;
    top: 62%;
    font-size: 3.1vw;
    line-height: 2.6vw;
}
#page1 h3{
    position: absolute;
    left: 70%;
    font-size: 0.85vw;
    width: 10%;
    /* background-color: red; */
    top: 57%;
    line-height: 0.8vw;
}

#page2 img{
    position: relative;
    width: 100%;
    left: 50%;
    transform: translate(-50%,0) scale(0.9);
}

#page2{
    min-height: 100vh;
    position: relative;
    padding-bottom: 20vh;
}

#page2 h1{
    font-size: 55px;
    width: 45%;
    text-align: center;
    margin-left: auto;
    transform-origin: 100% 100%;
    margin-right: auto;
    transform: rotateX(270deg);
    opacity: 0;
}

#h11{
    margin-top: 20vh;
}

#page2 h1 span{
    font-family: dancing script;
}

#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page4{
    height: 89vh;
    width: 100%;
    position: relative;
    padding: 60px 140px;
}

#page4 h1{
    font-size: 7.8;
}

#page5{
    height: 130vh;
    width: 100vw;
    /* background-color: red; */
}

#page5-elems{
    height: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}

#page5-elems h1{
    width: 70%;
    /* background-color: yellow; */
    height: 100%;
    font-size: 100px;
    padding: 10px 80px;
    border: 1px solid #d1d1d1;
}

#page5-elems h2{
    width: 30%;
    /* background-color: green; */
    height: 100%;
    font-size: 40px;
    padding: 60px 80px;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
}

#page5-content{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-image: url("right click on img inpect and find that img and put link web scrapping");
    padding: 200px 0;
}

#page5-content h1{
    font-size: 3.6vw;
    text-align: center;
    width: 60%;
    line-height: 3vw;
}

#page5-content h1 span{
    font-family: dancing script;
    font-size: 4.2vw;
}

#page5-content h4{
    font-size: 1.2vw;
    width: 30%;
    margin: 50px;
}

#page6 .slide1-of-h1{
    overflow-x: auto;
    overflow-y: hidden;
    cursor: default;     /* cursor chlega */
}

#page6 .slide2-of-h1{
    overflow-x: auto;
    overflow-y: hidden;
    cursor: default;     /* cursor chlega */
}

#page6 .slide2-of-h1::-webkit-scrollbar{
    display: none;
}

#page6 .slide2-of-h1 h1{
    transform: translateX(-100%);
}

#page6 h1{
    font-size: 10vw;
    text-transform: uppercase;
    line-height: 23vh;
}

#page6 h1 .one1{
    color: transparent;
    -webkit-text-stroke: 1px #adadad;     /*webkit is some extra features include in CSS but not available default in CSS web means web browser features */
}

#page7{
    height: 100vh;
    width: 100vw;
    background-color: #222;
    padding: 180px 50px;
    text-align: center;
}

#page7 h3{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3vw;
    /* background-color: blue; */
    width: 46%;
}

#page7 h3 span{
    font-family: dancing script;
    font-size: 3.8vw;
}

#page7-elems{
    /* background-color: red; */
    height: 45vh;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
}

#page7-elems #element1{
    height: 100%;
    /* background-color: blue; */
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: none;
}

#page7-elems #element2{
    height: 100%;
    /* background-color: blue; */
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: none;
}

#page7-elems #element1 h1{
    font-size: 60px; 
    z-index: 99;
    position: relative;
}

#page7-elems #element2 h1{
    font-size: 60px; 
    z-index: 99;
    position: relative;
}

#page7-elems #element1 img{
    position: absolute;
    opacity: 0;
    transition: opacity ease-in 0.2s;   /* ye prop sirf opacity pe apply hogi agar opacity ki jgh all krde to jitni bhi us element ki prop h sb pe ho jaygi */
    transform: rotate(10deg);
}

#page7-elems #element2 img{
    position: absolute;
    transform: rotate(10deg);
    transition: opacity ease-in 0.2s;
    opacity: 0;
}